@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.todos-bg-container {
    background-color: #f9fbfe;
    height: 100vh;
    padding: 20px;
}

.todos-heading {
    text-align: center;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.create-task-heading {
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.create-task-heading-subpart {
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 500;
}

.form-heading{
    margin-bottom: 5px;
}

.todo-user-input {
    background-color: white;
    width: 100%;
    border: 1px solid #e4e7eb;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.calender{
    border-radius: 5px;
    padding: 3px 8px 3px 8px;
    margin-bottom: 20px;
}

.priority-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select-container{
    margin-left: 20px;
}


.button {
    color: white;
    background-color: #4c63b6;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 5px 20px 5px 20px;
}

.save{
    background-color: cornflowerblue;
}

.cancel{
    background-color: crimson;
    margin-left: 20px;
}

.todo-items-heading {
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.todo-items-heading-subpart {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
}

.mark-completed{
    font-family: 'Roboto';
    cursor: pointer;
}

.edit-icon{
    height: 30px;
}

.todo-items-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.todo-item-container {
    margin-top: 15px;
}

.edit-form{
    width: 100%;
    border: solid;
}

.checkbox-input {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 12px;
    cursor: pointer;
}

.label-container {
    width: 100%;
    border: 5px solid #096f92;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
    padding-left: 10px;
    overflow: hidden;
}

.checkbox-label {
    font-family: "Roboto";
    width: 82%;
    margin: 0;
    border-radius: 5px;
    cursor: pointer;
}
.task-name-container{
    width: 100%;
}

.task-name{
    font-weight: bold;
    font-size: 20px;
    overflow: hidden;
    margin-bottom: 2px;
}

.todo-date{
    min-width: 90px;
    font-size: 12px;
}

.due-date{
    font-weight: bold;
}

.checked {
    text-decoration: line-through;
}

.delete-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-icon{
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.display-priority-mark{
    height: 45px;
    margin: 10px
}
.hide-priority-mark{
    display: none;
}

.display-image{
    display: none;
}

.delete-icon {
    padding-right: 15px;
    cursor: pointer;
}
